{% extends "SGFan/main.html" %}
{% block content %}
	{% for movie in object_list %}
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<h2><a class="mr-2" href="#">{{ movie.title }}</a></h2>
		      		<div>
		      			<img src = "{{ movie.image.url }}" class = 'img-responsive' height=300 width=220>
		  	  		</div>
		      		<small class="text-muted">{{ movie.description }} </small>
		    	</div>
		    	<p class="article-content"> Director: {{ movie.director }} </p>
		    	<p class="article-content"> Producer: {{ movie.producer }}</p>
		    	<p class="article-content"> Released year: {{ movie.release_date }} </p>
			</div>
		</article>
	{% endfor %}
{% endblock content %}
