{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'SGFan/main.css' %}">

    <!-- tab title -->
	{% if title %}
		<title>Studio Ghibli Fan - {{ title }}</title>
	{% else %}
		<title>Studio Ghibli Fan</title>
	{% endif %}

</head>
<body>
	<!-- navigation bar for home and create -->
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" href="/"><img src = "https://upload.wikimedia.org/wikipedia/en/c/ca/Studio_Ghibli_logo.svg" height=60 width=120></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
	      		<div class="collapse navbar-collapse" id="navbarToggle">
	        		<div class="navbar-nav mr-auto">
	          			<a class="nav-item nav-link" href="{% url 'list' %}">Home</a>
	          			<a class="nav-item nav-link" href="{% url 'create' %}">Create</a>
	        		</div>	
	      		</div>
	      		<!-- Search bar -->
				<div class="navbar-nav">
	      			<form method='GET' action = '' >
	      				<input name = 'q' value='{{ request.GET.q }}' type= 'text'  placeholder='Search movies'  />
	      				<input type='submit' value='Search'/>
	      			</form>
	      		</div>
	    	</div>
	  	</nav>
	</header>
	<br/>

	<main role="main" class="container">
		<div class="row">
	    	<div class="col-md-8">
	      		{% block content %}
	      			<h1>Studio Ghibli Movies</h1><br/>
	      			<!-- Movie lists -->
	      			{% for movie in object_list %}
	      				<article class="media content-section">
	      					<div class="media-body">
	      					<div class="article-metadata">
	      						<h2><a class="mr-2" href='{{ movie.get_absolute_url }}'><img src= "https://images-na.ssl-images-amazon.com/images/I/51VQ8gegp6L._SL1045_.jpg" height= 50 width=40> {{ movie.title }}</a></h2>
	      					</div>
	      					</div>
	      				</article>
	      			{% endfor %}
	      		{% endblock %}
	    	</div>
	  	</div>
	</main>
	

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>