body {
  background: #F6F6F6;
  color: #666;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #D7BDE2;
}

.site-header .navbar-nav .nav-link {
  color: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.site-header .navbar-nav .nav-link:hover {
  color: #900C3F;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

a.article-title:hover {
  color: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}